
@font-face {
    font-family: 'Gotham-Light';
    src: url('fonts/gotham-light.eot');
    src: url('fonts/gotham-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham-light.woff2') format('woff2'),
         url('fonts/gotham-light.woff') format('woff'),
         url('fonts/gotham-light.ttf') format('truetype'),
         url('fonts/gotham-light.svg#gotham_lightregular') format('svg');
}

body {
	font-family: 'Gotham-Light' !important;
	/*background-image: url("skyline.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}

.active {
    background-color: green
}

.menu .nav-login li > a{
  display: block;
  width: 140px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  color: white;
  border: solid .1em white;
  margin-top: .5em;
}

.menu .menu4 {
	display: inline-block;
	margin-top: .5em;
	position: relative;
	left: 2%;
}

.menu .menu4 > li > a{
  display: block;
  width: 200px;
  height: 40px;
  text-decoration: none;
  font-size: .9em;
  text-align: center;
  color: white;
  border: solid .1em white;
  background-color: black;
  margin-top: .7em;
}

.menu .menu4 li:nth-child(2) > a{
  margin-top: .5em !important;
  color: black !important;
  border: solid .1em black !important;
  background-color: white !important;
  padding-top: .8em;
}

.menu .menu2 {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .3em;
  padding-bottom: .3em;
  text-decoration: none;
  text-align: center;
  color: black;
  border: solid .1em black;
  margin-top: .5em;
  background-color: white;
  border-radius: 0px;
}

.menu .menu3 {
  display: block;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-decoration: none;
  text-align: center;
  width: 18em;
  font-size: .8em;
  color: white;
  border: solid .1em black;
  background-color: black;
  border-radius: 0px;
}

.menu .menu2-appointment {
  display: block;
  width: 18em;
  padding: .9em 0em .9em;
  text-decoration: none;
  text-align: center;
  color: black;
  border: solid .25em black;
  background-color: white;
  border-radius: 0px;
  margin-top: .2em;
  margin-left: .875em;
}

.menu .menu2-appointment2 {
  display: inline-block;
  width: 18em;
  padding: .9em 0em .9em;
  text-decoration: none;
  text-align: center;
  color: black;
  border: solid .25em black;
  background-color: white;
  border-radius: 0px;
  margin-top: .2em;
}

.checkout .menu .menu3 {
  margin-left: 25%;
}



a:hover {
	text-decoration: none;
}

.this {
	padding-top: .6em;
}

.this2 {
		padding-top: 1.2em;
	position: relative;
	left:15%;
}

.this3 {
	padding-right: 4em;
	color: white;
}

.this3:hover {
	color: white;
	text-decoration: none;
}

.this4 {
	padding-left: 2em;
	padding-top: .9em;
	text-align: left;
}

.this5 {
	color:white;
	position: absolute;
	right:3%;
	bottom: 1%;
	padding-top: 1%;
}

.navbar-fixed-top, .navbar-fixed-bottom {
	background-color: black;
}

.navbar-fixed-bottom {
	height: 3em;
}

.home {
	position:absolute;
	top:15%;
	right:35%;
	width:auto;
}

.numberCircle {
    border-radius: 70%;
    width: 2.25em;
    height: 2.25em;  
    padding-left: .8em;
	padding-right: 1em;
	padding-top: .5em;
	padding-bottom: .9em;
    border: 1px solid black;
    font-size: 1.3em;
    color: black;
}

.numberCircle1 {
    border-radius: 70%;
    width: 2.25em;
    height: 2.25em;  
    padding-left: .9em;
	padding-right: 1em;
	padding-top: .5em;
	padding-bottom: 1em;
    border: 1px solid black;
    font-size: 1.3em;
    color: black;
}


.service-list li {
	padding-top: 2em;
	padding-left: 3em;
}

.service-list p,.service-list h3 {
	display:inline-block;
}

.service-list h3 {
	padding-left: 1em;
}

.service-list p {

}

.navbar-brand {
	color: white;
}

.register {
	position:absolute;
	top:15%;
	right:42.5%;
	width:auto;
}

.r-form	 {
	position: absolute;
	top:13%;
	padding-bottom: 10%;
	left: 20%;
	width: 80%;
	text-align: left;
}

.register-form {
	margin-top: .5em;
	}

.register-form input {
	margin-top: .5em;
	border: 1px solid black;
	width: 15em;
	height: 3em;
	padding-left: 1em;
}

.register-form2 form{
	margin-left: 4%;
}

.register-form2 input {
	margin-top: 1em;
	border: 1px solid black;
	width: 18em;
	height: 3em;
  font-size: .8em;
	padding-left: .8em;
  margin-left: 1em;
}

.r-form i:nth-child(2){
  left:15% !important;
}

.r-form i:nth-child(3){
  left:30% !important;
}

.r-form i:nth-child(4){
  left:48% !important;
}

.success {
	margin-top: %;
}

.halved {
	width: 8.33em !important;
}

.well .register-form .btn {
	margin-top: .5em;
	border: 1em solid black;
	width: 15em;
	height: 15em;
	padding-left: 1em;
}

.hide {
	display: none;
}
 


.btn {
	width:15em;
	height: 15em;
	border: .1em solid black !important;
  border-radius: 0px !important;
}

.btn-file {
	margin-top: 1em;
    position: relative;
    overflow: hidden;
}

.fa-square {
	border-radius: 10%;
	padding-bottom: 1em;
	padding-right: 1em;
	color: white;
	border: .1em solid black !important;
	width:1em;
	height:1em;
  margin-right: .5em;
}

.fa-check-square-o {
  margin-right: .5em
}

.btn-file p {
	opacity:.8;
}

.btn-file h3 {
	font-size: 5em;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.that {
	z-index: 999;
	background-color: black;
	opacity:0.3;
	position: absolute;
	margin-top: 5em;

}

.that:hover {
	color: black;
	opacity:1;
}

.appointment {
	position:absolute;
	top:13%;
	right:37.5%;
	width:auto;
	text-align: center;
}

.appointment p, .appointment-bottom p{
	opacity: .6;
}

.appointment input {
	border: 1px solid black;
	width: 18em;
	height: 3em;
	padding-left: 1em;
}

.appointment-bottom{
	position:relative;
	margin-top: 6em;
}

.appointment-bottom input {
	margin-top: .7em;
}

.qu {
	padding-right: 5px;
}

.login1 {
	margin-left: 2em;
}
.login {
	text-align: center;
}

.modal-dialog {
    display: block;
    position: absolute;
    left: 0%;
    top: 12% !important;
    height: 88%;
    width: 60% !important;
    overflow-y:auto;
    overflow-x:auto;
    outline: 3px !important;
}

.inline {
	display: inline-block !important;
}

.inline2 {
	display: inline !important;
	float:left;
}

.checkout {
	position: absolute;
	top: 15%;
	left:30%;
	padding-bottom: 5em;
	max-width: 50%;
}

.gray {
  opacity: .6;
}

.address {
    margin-left: 50px;
    opacity: .6;
}



.prog {
  position: absolute;
  top: 10%;
  left: 10%;
  color: red;
  background-color: black;
  z-index: 10;
}

.progress {
  position: absolute;
  height: 3em !important;
  width: 100%;
  z-index: 0;
}

/*.styled-select {
   width: 7em;
   height: 34px;
   overflow: hidden;
   border: 1px solid #ccc;
}

.styled-select select {
  margin-left: -0.3em;
  margin-top: -0.5em;
  border: 1px solid black;
  height: 3em;
  padding-left: .8em;
   -webkit-appearance: none;
}*/

.contact{
  margin-top: 7em;
}

.contact p{
  margin-top: 3em;
}

.contact h3 {
  text-align: center;
}


input[type=radio] {
  height: 1em;

}







.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 220px;
  height: 40px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #c0392b;
  padding: 8px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
.select-styled:hover {
  background-color: #b83729;
}
.select-styled:active, .select-styled.active {
  background-color: #ab3326;
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ab3326;
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #962d22;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  color: #c0392b;
  background: #fff;
}
.select-options li[rel="hide"] {
  display: none;
}

.acc p {
  margin-top: 1em;
  display: inline-block;
}

.acc p:nth-child(2) {
    position: absolute;
    left:60%;
}

.acc p:last-child {
  position: absolute;
  right:6%;
}

.dash-sort table, td {
  width: 15em;
  border: 1px solid black;
  text-align: center;
}

.dash-list {

}

.dash-list td {
    position: relative;
    width:200px;
    height:40px;
    margin-left:40px;
    text-align:center;
    line-height:40px;
}

.dash-list td:before {/*
    content:"";
    position: absolute;
    right: 100%;
    top:0px;
    width:0px;
    height:0px;
    border-top:20px solid transparent;
    border-right:40px solid black;
    border-bottom:20px solid transparent;*/
}

.dash-list td:after {
    content:"";
    position: absolute;
    left: 90%;
    top:.5em;
    width:0px;
    height:0px;
    border-top:20px solid transparent;
    border-left:40px solid black;
    border-bottom:20px solid transparent;
}

.dash-list:hover td {
    background-color: black;
}

#scroll{
    direction:rtl; 
    overflow:auto; 
    height:50px; 
    width:50px;
}

#scroll div{
    direction:ltr;
}
.scrollable-content {
  margin-left: 2em;
  margin-right: 1em;
  height: 180px;
  width: auto;
  overflow: auto;
}

.scrollable-content #circle {
  margin-top: 3em;
}

.dash-prog .wrapper {
  display: inline-block;
  margin-left: 20%;

}

.scrollable-content i:nth-child(2){
  left:18% !important;
}

.scrollable-content i:nth-child(3){
  left:34% !important;
}

.scrollable-content i:nth-child(4){
  left:50% !important;
}

#circle {
  position: absolute;
  font-size: .6em;
  top: 1%;
  left: 2%;
  z-index: 10;
  width: 5em;
  height: 5em;
  background: white;
  border: .25em solid black;
  -moz-border-radius: 2.5em;
  -webkit-border-radius: 2.5em;
  border-radius: 2.5em; 
}

hr.fancy-line { 
    border: 0; 
    height: 1px;
    position: relative;
    margin: 2em; /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.3em;   /* half the height of :before */
    top: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 50%;
}

body, hr.fancy-line:after {
    background: black;
}

#custom-accord {
  border-color: white !important;
}

#custom-accord section{
  height: 3em;
}

#custom-accord .panel-default {
    border-color: white !important;
}
#custom-accord .panel-heading {
    background-color: white !important;
    border-color: white !important; 
    background-image: none !important;
}
#custom-accord .panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 0px white !important;
}



